body {
    color: #00004d;
    background-color: #f0e8d8;
}

main {
    display: flex;
    flex-flow: column;
    min-height: 90vh;
}

.tell h1 {
    font-size: 50px;
}

img {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.btn-wrap {
    margin-top: 50px;
}

.btn-wrap p {
    font-size: 30px;
}

.btn {
    background: #f03c34;
    border: 2px solid transparent;
    color: #f0e8d8;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 0px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.btn:focus,
.btn:hover {
    background: #f0e8d8;
    border-color: currentColor;
    color: #f03c34;
}

footer {
    height: 50px;
    background-color: #fff;
}

footer .copyright {
    font-size: 12px;
    padding-top: 17px;
    letter-spacing: 1px;
    text-align: center;
}