{% extends 'base.html' %}

{% block content %}


<div class="tsuika">
    <p>
        <form action="/add" method="post">
            内容：<br><textarea name="comment" cols="90" rows="7" placeholder="ガチャの＿＿？＿＿に追加したい内容を入力"></textarea><br>
            ひとこと：<br><textarea name="word" cols="90" rows="9" placeholder="項目の説明を入力"></textarea><br>
            <input type="submit" name="send" value="送信" class="btn">
        </form>
        <a href="/"><input type="submit" name="cancel" value="キャンセル" class="btn"></a>
    </p>
</div>


{% endblock %}