{% extends 'base.html' %}

{% block content %}


<div class="tsuika">
    <!-- 「#」にはデータベース接続用のリンク(/tsuikaなど)を書いてください -->
    <form action="#" method="post" class="add">
        <textarea name="comment" cols="90" rows="10" placeholder="ガチャの＿＿？＿＿に追加したい内容を入力"></textarea><br>
        <p>
            <input type="submit" name="submit" value="送信">
        </p>
    </form>
    <!-- こっちの「#」にはホームへ戻るためのリンクを書いてください -->
    <form action="#">
        <input type="submit" name="cancel" value="キャンセル">
    </form>
</div>


{% endblock %}