{% extends 'base.html' %}

{% block content %}


<div class="tsuika">
    <p>
        <form action="/add" method="post">
            内容：<br><textarea name="comment" cols="45" rows="7" autofocus placeholder="ガチャの＿＿？＿＿に追加したい内容を入力" maxlength="20"></textarea><br>
            ひとこと：<br><textarea name="word" cols="45" rows="9" placeholder="項目の説明を入力" maxlength="68"></textarea><br>
            <button type="submit" name="send" value="送信" class="btn">送信</button>
        </form>
        <button type="submit" name="cancel" value="キャンセル" class="btn" onclick="location.href='/'">キャンセル</button>
    </p>
</div>


{% endblock %}