{% extends 'base.html' %}

{% block content %}
<h1>ガチャの結果。</h1>
<p>今日はこれをやってみましょう。</p>


<div class="button">
    <p>{{result}}</p>
    <p>{{word}}</p>
    <a href="{{link}}">{{link}}</a><br>


    <a class="btn" onclick="window.location.reload(true);">もう一度ガチャを引く</a>
    <a href="/" class="btn">ホームページに戻る</a>
    <a href="/adding" class="btn">[？]に自分の好きなものを追加する</a>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="10分ガチャをやってみました" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  
</div>


{% endblock %}